/*
COLORS
#b5ba7e green
#f4afb3 light pink
#e18d96 dark pink
#a02c2d red
*/
body {
  text-align: center;
  background-color:#f4afb3;
  margin: 0;
}

.whole{
  background-color: white;
  width: 100%;
  min-width: 1100px;
}

p{
  color: #111;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  letter-spacing: 2px;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0;
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.menubar {
  width:100%;
  margin-left: 0;
  text-align: left;
  padding: 10px 0px;
  border-bottom: solid;
  border-color: #BDC8C0;
  border-width: 0.5px;
  position: fixed;
  left:0;
  right:0;
  top:-71px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: top 750ms ease;
}

.menubar.slide{
  top:0;
}

.menutext1, .menutext2{
  width: max-content;
  font-family: 'Bebas';
  padding: 0;
  margin:0;
  font-size: 25px;
  margin-left: 15px;;
  opacity: 65%;
}

.menutext1, .menutext2:hover{
  background-image: url("../images/highlight.png");
  background-size: cover;
}

.Logo{
  margin-left:15px;
}

.starter{
  width: 100%;
  min-width: 1100px;
  height: 850px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content{
  height:700px;
  width:100%;
  min-width: 1100px;
  background-color: white;
  display: flex;
}

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer{
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  min-width: 1100px;
}

.namecol{
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cc{
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footertext{
  padding: 0;
  margin: 0;
}

.socialmedia{
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagebox{
  width: 200px;
  height:200px;
  border: solid;
  border-color: #f4afb3;
  border-width: 2px;
  margin: 5px;
  opacity: .5;
}

.pages, .pagebox{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pages{
  widows: 100%;
  min-width: 1100px;
  height: auto;
  padding: 25px;
}

.pagetitle{
  font-family: 'Bebas';
  color: #f4afb3;
  font-size: 100px;
  padding: 0;
  margin: 0;
  width: 200px;
  height:200px;
  justify-content: center;
}

.pagetitle:hover{
  color: black;;
  opacity: .7;
}

.pagebox:hover, #present{
  background-image: url("../images/giphy.gif");
  background-size: cover;
  opacity: 1;
}

.content
{
    width: 80%;
    min-width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #f4afb3;
}

.JS
{
    width: 100%;
    min-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}