.name, .message {
    border:none;
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 7px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    opacity: 0.7;
    width: 300px;
    padding: 10px 15px;
    margin-left: 0px;
}

.message{
    height: 160px;
    resize: none;
    margin-bottom: 0;
    margin-top: 0;
}

.forms{
    margin-bottom: 0;
}

.top
{
    width:800px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompter
{
    width:auto;
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: white;
    border-color: lightgrey;
    border-radius: 8px;
    color: grey;
}

.prompter:hover
{
    box-shadow: 5px 5px 8px lightgrey;
    box-shadow
}

.mainitems
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input
{
    width: 300px;
    margin-left: 30px;
}

.output
{
    min-width: 600px;
    flex-grow: 1;
    padding-left: 15px;
}

.content
{
    padding: 0 15px;
    flex-direction: column;
}

.output p{
    word-break: break-all;
    text-align: justify;
}

.legend {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.dot
{
    width: 130px;;
}

.content
{
    height: 700px;
}

h1
{
    font-family: 'Bebas';
    font-size: 80px;
    margin: 0;
    color: #f4afb3;
}