body {
    text-align: center;
    background-color:#f4afb3;
    margin: 0;
    scroll-behavior: smooth;
}

p{
    color: #111;
    font-family: 'Poppins';
    font-size: 15px;
    letter-spacing: 2px;
    text-align: justify;
}
  
a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
  
.menubar {
    width:100%;
    margin-left: 0;
    text-align: left;
    padding: 10px 0px;
    border-bottom: solid;
    border-color: #BDC8C0;
    border-width: 0.5px;
    position: fixed;
    left:0;
    right:0;
    top:-71px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: top 200ms ease;
}

.menubar.slide{
    top:0;
}
  
.menutext1, .menutext2{
    width: max-content;
    font-family: 'Bebas';
    padding: 0;
    margin:0;
    font-size: 25px;
    margin-left: 15px;;
    opacity: 65%;
}
  
.Logo{
    margin-left:15px;
}

.page{
    background-color: white;
    padding-bottom: 50px;
    min-width: 1000px;
}

.self, .firstbox, .secondbox, .thirdbox{
    min-width: 800px;
}

.starter{
    padding: 10% 0 5% 0;
}

.self{
    display:flex;
    align-items: center;
    margin: 0px 10% 10%;
}

.icondiv{
    width:300px;
    height:300px;
    background-image: url('../images/userpics/ppicon.png');
    flex-shrink: 0;
    background-size: cover;
}

.icondiv:hover{
    background-image: url('../images/userpics/ppicon2.png');
    background-size: cover;
}

.self .selfdes{
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 30px;
    text-align: justify;
    line-height: 1.5;
    min-width: 200px;
    margin:0 0 0 30px;
    padding:0;
}

.firsthead, .secondhead, .thirdhead{
    font-family: 'Bebas';
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: -83px;
}

.firsthead{
    color: #B5BA7e;
    left: 24px;
}
.secondhead{
    color: #e18d96;
    right:24px;
}

.thirdhead{
    color: #a02c2d;
    left: 24px;
}

.firsttext, .secondtext, .thirdtext{
    margin:0;
    padding: 30px 45px;
}

.firstbox, .secondbox, .thirdbox{
    border: solid;
    border-width: 10px;
    margin: 91px 100px 0;
    position: relative;
}

.firstbox{
    border-color: #B5BA7e;
}

.secondbox{
    border-color:#e18d96;
}

.thirdbox{
    border-color:#a02c2d;
}

.footer{
    display: flex;
    justify-content: center;
    height: 80px;
    min-width: 1000px;
}
  
.namecol{
    width: 25%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.cc{
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
.footertext{
    padding: 0;
    margin: 0;
}
  
.socialmedia{
    width: 25%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menutext1, .menutext2:hover{
    background-image: url("../images/highlight.png");
    background-size: cover;
}