@font-face {
    font-family: 'Cattieshine';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cattieshine.ttf');
}

@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight:400;
    src: url('../fonts/Bebas.ttf');
}